body {
    background-color: #121212;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p {

    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;

}

#card {
    height: 300px;
    width: 100%;
  }

  @media (max-width: 2560px) {
    #card {
      max-width: 80%;
    }
  }

  @media (max-width: 1024px) {
    #card {
      max-width: 100%;
    }
  }

  @media (max-width: 576px) {
    #card {
      max-width: 70%;
    }
  }

  @media (max-width: 375px) {
    #card {
      height: 250px;
      width: 100%;
    }
  }

  @media (max-width: 320px) {
    #card {
      height: 300px;
      width: 100%;
    }
  }

  @media (max-width: 2560px) {
    #alert {
      width: 30%;
    }
  }

  @media (max-width: 1024px) {
    #alert {
      width: 50%;
    }
  }

  @media (max-width: 576px) {
    #alert {
      width: 100%;
    }
  }