body {
    background-color: #121212;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p {

    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;

}